<section>
  <div class="container">
    <div class="col-12 mb-4">
      <h1>Home</h1>
    </div>
  </div>
  {{#each posts as |post|}}
  <div class="container">
    <a href="/post/{{id}}" style="text-decoration: none; color: inherit;">
      <div class="col-12 mb-4">
        <div class="card border-dark">
          <div class="card-header">
            <h4>{{title}}</h4>
            <h6 class="fst-italic">Posted by {{user.name}} on {{format_date date_created}}</h6>
          </div>
          <div class="card-body">
            <p class="card-text">{{content}}</p>
            <p class="card-text fst-italic">{{post.title}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  {{/each}}
</section>