<section>

  <div class="container">
    <div class="col-12 mb-4">
      <h1>{{title}}</h1>
    </div>
  </div>

  <div class="container">
    <div class="col-12 mb-4">

      <div class="card border-dark">
        <div class="card-header">
          <h5>Posted by {{user.name}} on {{format_date createdAt}}</h5>
          <p class="card-text fst-italic">{{category.title}}</p>
        </div>
        <div class="card-body">
          <p class="card-text">{{content}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-12 mb-4">
      <h4 class="mb-3">Comments</h4>
      <a class="d-flex align-items-center justify-content-center btn btn-outline-primary mb-3"
        href="/new-comment/post/{{id}}">
        <h6 class="my-auto text-center">New Comment</h6>
      </a>
      {{#if comments.length}}
      {{#each comments}}
      <div class="card border-dark mb-2">
        <div class="card-body">
          <p class="card-text">{{content}}</p>
          <p class="card-text fst-italic">Posted by {{user.name}} on {{format_date user.createdAt}}</p>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div class="card border-dark mb-2">
        <div class="card-body">
          <h6 class="card-text fst-italic">No comments for this post yet.</h6>
        </div>
      </div>
      {{/if}}
    </div>
  </div>

</section>